<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Servizi Legali per Albanesi in Italia - Avvocato Specializzato
    </title>
    <meta
      name="description"
      content="Servizi legali per cittadini albanesi in Italia: cancellazioni, espulsioni, certificato penale, procedimenti penali, e molto altro. Consulenza legale professionale."
    />
    <meta
      name="keywords"
      content="avvocato Albania, assistenza legale albanesi in Italia, cancellazione espulsione Italia, certificato penale Albania, procedimenti penali, diritto penale, avvocato in Italia per albanesi, consulenza legale Italia, avvocato espulsione, avvocato procedimenti penali Albania"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Natalia Cicchelli" />
    <link rel="icon" href="favicon.ico" />
    <link href="assets/fonts/remixicon.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link href="assets/css/cursor.css" rel="stylesheet" />
    <link href="assets/css/media-query.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Main Body Start -->
    <main class="site-content">
      <!-- Preloader Start -->
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
              <div class="loader-line"></div>
            </div>
            <img
              style="width: 60px"
              src="assets/images/home/preloader.svg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- Preloader End -->
      <!-- Header Start -->
      <header class="header_area carbon-blue home-1-header" id="header">
        <div class="main_header_area animated">
          <div class="container-fluid nav-padding">
            <nav id="navigation1" class="navigation carbon-blue">
              <div class="nav-header">
                <a class="nav-brand" href="home-1.html"
                  ><img
                    style="width: 190px"
                    src="assets/images/brand/logo.svg"
                    alt="Brand logo"
                  />
                </a>
                <div class="nav-toggle"></div>
              </div>
              <div class="nav-menus-wrapper">
                <ul class="nav-menu align-to-right">
                  <li class="active">
                    <a href="#">Home </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Pagine</a>
                    <ul class="nav-dropdown">
                      <li><a href="#">Chi Siamo</a></li>
                      <li>
                        <a href="javascript:void(0)">Avvocati</a>
                        <ul class="nav-dropdown">
                          <li>
                            <a href="#">Natalia Cicchelli</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Prezzi</a></li>
                      <li><a href="#">Onori e Premi</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Servizzi </a>
                    <ul class="nav-dropdown">
                      <li><a href="#">Our services 1</a></li>
                      <li><a href="#">Our services 2</a></li>
                      <li><a href="#">Our services 3</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/blog">Blogs </a>
                  </li>
                  <li>
                    <a href="contact.html">Contatti</a>
                  </li>
                </ul>
              </div>
              <div class="button-box">
                <a href="#" class="button-wrap">
                  <span>
                    Consulenza Gratuita <i class="ri-arrow-right-line"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <!-- Header End -->
      <!-- Content Start -->
      <div class="main-body carbon-blue">
        <!-- Hero section start -->
        <section class="hero-sec">
          <div class="container">
            <div class="row hero-row">
              <div class="col-12 col-md-6 hero-content-left">
                <div class="hero-content">
                  <p class="mb-30 in-right home1-txt1">
                    il migliore e imprevedibile studio legale
                  </p>
                  <h1 class="color-text mb-30 in-right">
                    Soluzioni Legali <span>Affidabili</span> Ed
                    <span>Efficaci</span>
                  </h1>
                  <p class="mb-60 container-570 in-top">
                    Facciamo nostri gli obiettivi e le sfide dei nostri clienti
                    e ci impegniamo a creare un impatto duraturo sul loro
                    business.
                  </p>
                  <div class="in-top button-whole-wrap">
                    <a href="#" class="button-wrap">
                      <span>
                        I Nostri Servizi <i class="ri-arrow-right-line"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 lawyer-col text-right">
                <div class="fade-in">
                  <img
                    class="img-100"
                    src="assets/images/home/lawyer.png"
                    alt="Lawyer image"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Hero section End -->
        <!-- Logo carousel Start -->
        <section class="logoMarqueeSection carbon-blue"></section>
        <!-- Logo carousel End -->
        <!-- Welcome Section Start -->
        <section class="welcome-section section-m-100 reveal1">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mb-60">
                <h2 class="color-text mb-10">
                  Avvocato per gli Albanesi in Italia: Soluzioni Legali per
                  <span>Espulsioni</span>, <span>Certificati Penali</span> e
                  <span>Procedimenti Giudiziari</span>!
                </h2>
                <img
                  src="assets/images/home/Shape.png"
                  alt="Shape"
                  class="img-100 shape-image"
                />
              </div>
              <div class="col-12 col-md-5 mobile-align">
                <div class="mb-60-rs">
                  <img
                    src="assets/images/welcome/welcome-post.png"
                    alt="welcome"
                    class="img-100-res pbmit-animation-style3 reveal1"
                  />
                </div>
              </div>
              <div class="col-12 col-md-5 post-wrap case-abs">
                <div class="container-430 pb-60">
                  Sei un cittadino albanese in Italia e hai bisogno di
                  assistenza legale? Siamo qui per te! Che si tratti di
                  annullare un’espulsione, ottenere un certificato penale, o
                  affrontare un procedimento penale, offriamo soluzioni su
                  misura per le tue esigenze. Con una profonda conoscenza delle
                  normative italiane e un’esperienza consolidata nell’assistenza
                  a cittadini stranieri, ci impegniamo a proteggere i tuoi
                  diritti e trovare la strada migliore per risolvere il tuo
                  caso. Affidati a un avvocato che comprende le tue necessità e
                  lotta al tuo fianco. Contattaci oggi per una consulenza
                  personalizzata!
                </div>
                <div class="in-top button-whole-wrap">
                  <a href="blog-1.html" class="button-wrap">
                    <span>
                      Consulenza Gratuita <i class="ri-arrow-right-line"></i>
                    </span>
                  </a>
                </div>
                <div class="btn-side-img">
                  <img
                    src="assets/images/welcome/hover-1.png"
                    alt="hover icon"
                  />
                </div>
              </div>
              <div class="col-12 col-md-2 text-right mt-60-rs">
                <img
                  src="assets/images/welcome/reading-law.png"
                  alt="reading"
                  class="img-100 pbmit-animation-style3 reveal1"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- Welcome Section End -->
        <!-- Features Section Start -->
        <section class="feature-section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-4 feature-wrapper">
                <div class="feature-wrap d-flex align-items-center">
                  <h3 class="d-none">Featured Section</h3>
                  <h4 class="d-none">Hidden</h4>
                  <div>
                    <img
                      src="assets/images/features/experience.png"
                      alt="Features"
                    />
                  </div>
                  <div>
                    <h5>Massima Esperienza.</h5>
                  </div>
                </div>
                <p class="pt-20">
                  Offriamo un servizio legale impeccabile, basato su anni di
                  esperienza e un impegno costante verso l’eccellenza. Il nostro
                  team di avvocati esperti è al tuo fianco per affrontare ogni
                  sfida legale con professionalità, trasparenza e soluzioni
                  personalizzate. Affidati a noi per proteggere i tuoi diritti e
                  raggiungere i tuoi obiettivi.
                </p>
              </div>
              <div class="col-12 col-md-4 most-reliable-col feature-wrapper">
                <div class="feature-wrap d-flex align-items-center">
                  <div>
                    <img
                      src="assets/images/features/reliable.png"
                      alt="Features"
                    />
                  </div>
                  <div>
                    <h5>Il più Affidabile.</h5>
                  </div>
                </div>
                <p class="pt-20">
                  La nostra priorità è garantire affidabilità e supporto
                  costante in ogni ambito legale. Con un approccio mirato e una
                  dedizione assoluta, forniamo soluzioni chiare e tempestive,
                  costruendo rapporti di fiducia duraturi con i nostri clienti.
                  Puntiamo a rendere ogni processo semplice e senza stress,
                  sempre al tuo fianco quando conta di più.
                </p>
              </div>
              <div class="col-12 col-md-4 feature-wrapper">
                <div class="feature-wrap d-flex align-items-center">
                  <div>
                    <img
                      src="assets/images/features/success.png"
                      alt="Features"
                    />
                  </div>
                  <div>
                    <h5>Più Successivi.</h5>
                  </div>
                </div>
                <p class="pt-20">
                  Mettiamo il tuo successo al centro di tutto ciò che facciamo,
                  lavorando con strategia e determinazione per ottenere i
                  migliori risultati possibili. Grazie alla nostra conoscenza
                  approfondita e alla capacità di affrontare casi complessi,
                  trasformiamo le sfide legali in opportunità, guidandoti verso
                  il traguardo con competenza e dedizione.
                </p>
              </div>
            </div>
          </div>
        </section>
        <!-- Features Section End -->
        <!-- Offer Section Start -->
        <section class="offer-section section-p-100" id="servicess">
          <div class="container">
            <div class="row">
              <div class="col-12 offer-wrapper">
                <div class="offer-wrap text-center">
                  <h6 class="mb-40">cosa ti offriamo</h6>
                  <div
                    class="offer-post-box mb-60 post-wrap"
                    data-scroll-reveal="enter bottom move 30px over 0.5s after 0.2s"
                  >
                    <a href="#" class="cursor-link-blog-post-2 offer-links">
                      <div class="blog-post-box">Concorrenza e Antitrust</div>
                    </a>
                    /
                    <a
                      href="single-services-standard.html"
                      class="cursor-link-blog-post-3 offer-links"
                    >
                      <div class="blog-post-box">
                        Diritto Immobiliare e Ipotecario
                      </div>
                    </a>
                    /
                    <a
                      href="single-services-standard.html"
                      class="cursor-link-blog-post-4 offer-links"
                    >
                      <div class="blog-post-box">
                        Diritto Internazionale e dell'Immigrazione
                      </div>
                    </a>
                    /
                    <a
                      href="single-services-standard.html"
                      class="cursor-link-blog-post-5 offer-links"
                    >
                      <div class="blog-post-box">
                        Gruppi familiari e diritto matrimoniale
                      </div>
                    </a>
                    /
                    <a
                      href="single-services-standard.html"
                      class="cursor-link-blog-post-6 offer-links"
                    >
                      <div class="blog-post-box">
                        Legge sulla sanità universale
                      </div>
                    </a>
                    /
                    <a
                      href="single-services-standard.html"
                      class="cursor-link-blog-post-7 offer-links"
                    >
                      <div class="blog-post-box">
                        Diritto del lavoro e dell'occupazione
                      </div>
                    </a>
                  </div>
                  <div class="in-top button-whole-wrap">
                    <a href="our-services-1.html" class="button-wrap">
                      <span>
                        Visualizza tutti i servizi
                        <i class="ri-arrow-right-line"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Offer Section End -->
        <!-- Video section Start -->
        <!--  <section class="video-section-overlay">
          <h2 class="d-none">none</h2>
          <div class="video-wrapper">
            <a id="play-video" class="video-play-button">
              <span></span>
            </a>
            <div id="video-overlay" class="video-overlay">
              <a class="video-overlay-close">&times;</a>
            </div>
        </section> -->
        <!-- Video section End -->
        <!-- Famous listing section Start-->
        <section class="famous-listing section-p-100">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mb-60">
                <h2 class="color-text container-570 m-auto">
                  La Nostra Storia
                </h2>
                <img
                  src="assets/images/home/Shape.png"
                  alt="Shape"
                  class="img-100 shape-image mt-10"
                />
              </div>
              <div class="col-12">
                <div class="listing-table">
                  <table>
                    <tr>
                      <td class="case-year">2018</td>
                      <td class="case-name">
                        <a
                          href="javascript:void(0)"
                          class="cursor-link-blog-post-9 offer-links"
                        >
                          <div class="blog-post-box">Lorem Ipsum</div>
                        </a>
                      </td>
                      <td class="case-desc">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Unde saepe praesentium, veniam nulla
                          consequuntur corporis ipsa porro voluptatem inventore
                          natus fugiat ut nisi sed eius adipisci facilis aut
                          eveniet eum.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="case-year">2019</td>
                      <td class="case-name">
                        <a
                          href="javascript:void(0)"
                          class="cursor-link-blog-post-9 offer-links"
                        >
                          <div class="blog-post-box">Lorem Ipsum</div>
                        </a>
                      </td>
                      <td class="case-desc">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Unde saepe praesentium, veniam nulla
                          consequuntur corporis ipsa porro voluptatem inventore
                          natus fugiat ut nisi sed eius adipisci facilis aut
                          eveniet eum.
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Famous listing section End-->
        <!-- Get-Free-Consultation Start -->
        <section class="consult-section">
          <div class="container-fluid p-0">
            <div class="row g-0">
              <div class="col-12 col-md-5 consult-col">
                <img
                  src="assets/images/consultation/get-free-consultation.png"
                  alt="Consultation Image"
                />
              </div>
              <div class="col-12 col-md-7">
                <div class="free-consultation-form">
                  <div class="contact-form container-570">
                    <form class="container">
                      <div class="row g-4">
                        <div class="col-12">
                          <h2>Ottieni una consulenza gratuita</h2>
                          <p class="mt-10 mb-10">
                            Ottieni la tua prima consulenza legale completamente
                            gratuita.
                          </p>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="input-block">
                            <input
                              type="text"
                              class="form-control floating-placeholder"
                              placeholder="Nome di battesimo*"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="input-block">
                            <input
                              type="text"
                              class="form-control floating-placeholder"
                              placeholder="Cognome*"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="input-block">
                            <input
                              type="text"
                              class="form-control floating-placeholder"
                              placeholder="Riga dell'oggetto*"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="input-block">
                            <input
                              type="email"
                              class="form-control floating-placeholder"
                              placeholder="Email*"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="input-block">
                            <textarea
                              class="form-control floating-placeholder"
                              rows="3"
                              placeholder="Messaggio*"
                              required
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-12 form-button case-mt">
                          <div class="form-button button-wrap-case1">
                            <a
                              href="javascript:void(0)"
                              class="button-wrap button-wrap-case"
                            >
                              <span>
                                Invia messaggio<i
                                  class="ri-arrow-right-line"
                                ></i>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Get-Free-Consultation End -->
        <!-- Featured cases Start -->
        <!--  <section class="featured-cases section-p-100">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md124 col-lg-4">
                <div class="fetured-content">
                  <h2 class="mb-10">Ultimo Blog</h2>
                  <img
                    class="mb-40 shape-image img-100"
                    src="assets/images/home/Shape.png"
                    alt="Shape"
                  />
                  <p class="mb-60">
                    Hai mai pensato a quanto sia importante avere informazioni
                    chiare e affidabili sui tuoi diritti e su come affrontare le
                    sfide legali quotidiane?
                  </p>
                  <div class="button-box-body mb-60-rs">
                    <a href="our-cases-1.html" class="button-wrap">
                      <span>
                        Vai al blog <i class="ri-arrow-right-line"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="case-card">
                  <figure class="snip-case case-yellow">
                    <img
                      src="assets/images/cases/blog-image-2.jpg"
                      alt="blog image"
                    />
                    <i class="ri-scales-3-line"></i>
                    <a href="single-cases-1.html"></a>
                  </figure>
                  <div class="case-card-desc">
                    <h4 class="c-title">
                      <a href="single-cases-1.html">Public Company Fraud</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="case-card">
                  <figure class="snip-case case-yellow">
                    <img
                      src="assets/images/cases/blog-image-2.jpg"
                      alt="blog image"
                    />
                    <i class="ri-scales-3-line"></i>
                    <a href="single-cases-1.html"></a>
                  </figure>
                  <div class="case-card-desc">
                    <h4 class="c-title">
                      <a href="single-cases-1.html">Public Company Fraud</a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- Featured cases End -->
        <!-- Client’s Testimonial Start -->
        <section class="client-testimonial section-p-100">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="color-text container-570 m-auto">
                  Testimonianza del cliente
                </h2>
                <img
                  class="mt-10 mb-20 img-100 shape-image"
                  src="assets/images/home/Shape.png"
                  alt="Shape"
                />
                <p class="container-970 m-auto pb-60">
                  Ci impegniamo a essere accessibili e raggiungibili e a
                  mantenere la comunicazione con i nostri clienti. Diamo valore
                  ai clienti e lavoriamo senza sosta per ottenere risultati
                  eccellenti.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 testimonials testimonial-slide">
                <div class="testimonies-content">
                  <div class="testimonial-top-bar mb-20">
                    <img
                      src="assets/images/testimonial/quote.png"
                      alt="quote"
                    />
                    <p class="comment">Great Work!</p>
                  </div>
                  <p class="mb-40 client-thought">
                    Tincidunt cras nunc, arcu arcu venenatis, sed tempor sed.
                    Purus ut in senectus rutrum vulputate auctor. Lectus
                    faucibus tincidunt eget amet odio. Elit ac elit id viverra
                    id morbi congue. Nunc at sed faucibus dolor tellus sed.
                  </p>
                  <img
                    class="img-100 mb-20"
                    src="assets/images/testimonial/bubble-arrow.png"
                    alt="arrow"
                  />
                  <div class="d-flex align-items-center author-box">
                    <h3 class="d-none">Hidden</h3>
                    <h4 class="d-none">None</h4>
                    <div class="author-img">
                      <img
                        src="assets/images/testimonial/client-1.jpg"
                        alt="Client Image"
                      />
                    </div>
                    <div class="author-desc">
                      <h5>Olivia Segio</h5>
                      <p class="mt-10">Oria Studio</p>
                    </div>
                  </div>
                </div>
                <div class="testimonies-content">
                  <div class="testimonial-top-bar mb-20">
                    <img
                      src="assets/images/testimonial/quote.png"
                      alt="quote"
                    />
                    <p class="comment">Best Lawfirm Agency!</p>
                  </div>
                  <p class="mb-40 client-thought">
                    Lectus quis sit diam aenean. Neque sed blandit sed at.
                    Adipiscing eu aenean viverra nunc. Lacus ornare massa
                    scelerisque feugiat pretium diam massa purus. Ultrices
                    elementum mattis magna cras viverra nisl enim.
                  </p>
                  <img
                    class="img-100 mb-20"
                    src="assets/images/testimonial/bubble-arrow.png"
                    alt="arrow"
                  />
                  <div class="d-flex align-items-center author-box">
                    <div class="author-img">
                      <img
                        src="assets/images/testimonial/client-2.jpg"
                        alt="Client Image"
                      />
                    </div>
                    <div class="author-desc">
                      <h5>Alex Regan</h5>
                      <p class="mt-10">Square Agency</p>
                    </div>
                  </div>
                </div>
                <div class="testimonies-content">
                  <div class="testimonial-top-bar mb-20">
                    <img
                      src="assets/images/testimonial/quote.png"
                      alt="quote"
                    />
                    <p class="comment">Great Work!</p>
                  </div>
                  <p class="mb-40 client-thought">
                    Tincidunt cras nunc, arcu arcu venenatis, sed tempor sed.
                    Purus ut in senectus rutrum vulputate auctor. Lectus
                    faucibus tincidunt eget amet odio. Elit ac elit id viverra
                    id morbi congue. Nunc at sed faucibus dolor tellus sed.
                  </p>
                  <img
                    class="img-100 mb-20"
                    src="assets/images/testimonial/bubble-arrow.png"
                    alt="arrow"
                  />
                  <div class="d-flex align-items-center author-box">
                    <div class="author-img">
                      <img
                        src="assets/images/testimonial/client-1.jpg"
                        alt="Client Image"
                      />
                    </div>
                    <div class="author-desc">
                      <h5>Olivia Segio</h5>
                      <p class="mt-10">Oria Studio</p>
                    </div>
                  </div>
                </div>
                <div class="testimonies-content">
                  <div class="testimonial-top-bar mb-20">
                    <img
                      src="assets/images/testimonial/quote.png"
                      alt="quote"
                    />
                    <p class="comment">Best Lawfirm Agency!</p>
                  </div>
                  <p class="mb-40 client-thought">
                    Lectus quis sit diam aenean. Neque sed blandit sed at.
                    Adipiscing eu aenean viverra nunc. Lacus ornare massa
                    scelerisque feugiat pretium diam massa purus. Ultrices
                    elementum mattis magna cras viverra nisl enim.
                  </p>
                  <img
                    class="img-100 mb-20"
                    src="assets/images/testimonial/bubble-arrow.png"
                    alt="arrow"
                  />
                  <div class="d-flex align-items-center author-box">
                    <div class="author-img">
                      <img
                        src="assets/images/testimonial/client-2.jpg"
                        alt="Client Image"
                      />
                    </div>
                    <div class="author-desc">
                      <h5>Alex Regan</h5>
                      <p class="mt-10">Square Agency</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Client’s Testimonial End -->
        <!-- Legal issue consultation Start -->
        <section class="leagal-consultation">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 left-consult-wrappper">
                <div class="left-consult-wrap">
                  <h2 class="mb-10">Per Maggiori Informazioni, Chiamare</h2>
                  <img
                    class="mb-40 img-100 shape-image"
                    src="assets/images/home/Shape.png"
                    alt="Shape"
                  />

                  <div class="btn-call-wrap">
                    <div class="call-box">
                      <span
                        ><img src="assets/images/cases/icon.png" alt="dialpad"
                      /></span>
                      <span
                        ><a href="tel:+15426328899">+1 542 632 8899</a></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 right-consult-wrap">
                <img src="assets/images/cases/lawyer.png" alt="Lawyer" />
              </div>
            </div>
          </div>
        </section>
        <!-- Legal issue consultation End -->
        <!-- Securing Justice Start -->
        <!--  <section class="secure-section-wrap section-p-100">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="container-570 m-auto">
                  We are Committed to Securing Your Justice
                </h2>
                <img
                  class="mt-10 mb-60 img-100 shape-image"
                  src="assets/images/home/Shape.png"
                  alt="Shape"
                />
                <div class="secure-card-slider">
                  <div class="secure-card-block">
                    <div class="secure-card">
                      <div class="image">
                        <img
                          src="assets/images/cases/secure-1.jpg"
                          alt="secure justice"
                        />
                        <svg id="svg" class="d-none">
                          <defs>
                            <filter id="colorFilter">
                              <feColorMatrix
                                color-interpolation-filters="sRGB"
                                type="matrix"
                                values="0.9 0   1   0   0
														1   0  1   0   0
														1   1   0.21  0   0
														1   0   0   0   0 "
                              ></feColorMatrix>
                            </filter>
                          </defs>
                        </svg>
                      </div>
                      <div class="details">
                        <div class="center">
                          <ul>
                            <li>
                              <a
                                href="https://twitter.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-twitter-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.facebook.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-facebook-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://in.linkedin.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-linkedin-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.instagram.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-instagram-line"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="secure-card-info text-center">
                        <p class="mb-10">FOUNDER</p>
                        <a href="attorneys-detail-1.html">Michael Daniel</a>
                      </div>
                    </div>
                  </div>
                  <div class="secure-card-block">
                    <div class="secure-card">
                      <div class="image">
                        <img
                          src="assets/images/cases/secure-2.png"
                          alt="secure justice"
                        />
                      </div>
                      <div class="details">
                        <div class="center">
                          <ul>
                            <li>
                              <a
                                href="https://twitter.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-twitter-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.facebook.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-facebook-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://in.linkedin.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-linkedin-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.instagram.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-instagram-line"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="secure-card-info text-center">
                        <p class="mb-10">FAMILY LAWYER</p>
                        <a href="attorneys-detail-1.html">Elizabeth Linda</a>
                      </div>
                    </div>
                  </div>
                  <div class="secure-card-block">
                    <div class="secure-card">
                      <div class="image">
                        <img
                          src="assets/images/cases/secure-3.png"
                          alt="secure justice"
                        />
                      </div>
                      <div class="details">
                        <div class="center">
                          <ul>
                            <li>
                              <a
                                href="https://twitter.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-twitter-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.facebook.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-facebook-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://in.linkedin.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-linkedin-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.instagram.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-instagram-line"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="secure-card-info text-center">
                        <p class="mb-10">CIVIL LAWYER</p>
                        <a href="attorneys-detail-1.html">Richard Paul</a>
                      </div>
                    </div>
                  </div>
                  <div class="secure-card-block">
                    <div class="secure-card">
                      <div class="image">
                        <img
                          src="assets/images/cases/secure-4.png"
                          alt="secure justice"
                        />
                      </div>
                      <div class="details">
                        <div class="center">
                          <ul>
                            <li>
                              <a
                                href="https://twitter.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-twitter-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.facebook.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-facebook-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://in.linkedin.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-linkedin-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.instagram.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-instagram-line"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="secure-card-info text-center">
                        <p class="mb-10">FINANCIAL LAWYER</p>
                        <a href="attorneys-detail-1.html">Ashikul Islam</a>
                      </div>
                    </div>
                  </div>
                  <div class="secure-card-block">
                    <div class="secure-card">
                      <div class="image">
                        <img
                          src="assets/images/cases/lawyer.png"
                          alt="secure justice"
                        />
                      </div>
                      <div class="details">
                        <div class="center">
                          <ul>
                            <li>
                              <a
                                href="https://twitter.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-twitter-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.facebook.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-facebook-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://in.linkedin.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-linkedin-fill"></i>
                              </a>
                            </li>
                            <li>
                              <a
                                href="https://www.instagram.com/"
                                class="social-item"
                                target="_blank"
                              >
                                <i class="ri-instagram-line"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="secure-card-info text-center">
                        <p class="mb-10">Land LAWYER</p>
                        <a href="attorneys-detail-1.html">Rick Paul</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>-->
        <!-- Securing Justice End -->
        <!-- Counter Section Start -->
        <section class="counter-section">
          <div class="container">
            <h2 class="d-none">Counter Section</h2>
            <div class="row">
              <div class="col-12">
                <div class="counter-wrapper">
                  <ul class="counter border-counter" id="counter">
                    <li>
                      <img
                        src="assets/images/counter/exp.png"
                        alt="counter image"
                      />
                      <span class="count plus" data-count="5"> 0 </span>
                      <p>ANNI DI ESPERIENZA</p>
                    </li>
                    <li>
                      <img
                        src="assets/images/counter/cases.png"
                        alt="counter image"
                      />
                      <span class="count" data-count="1425"> 0 </span>
                      <p>CASI RISOLTI</p>
                    </li>
                    <li>
                      <img
                        src="assets/images/counter/satisfaction.png"
                        alt="counter image"
                      />
                      <span class="count percent" data-count="99"> 0 </span>
                      <p>TASSO DI SODDISFAZIONE</p>
                    </li>
                    <li>
                      <img
                        src="assets/images/counter/expert.png"
                        alt="counter image"
                      />
                      <span class="count" data-count="1"> 0 </span>
                      <p>AVVOCATO ESPERTO</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Counter Section End -->
        <!-- Blog Section Start -->
        <section class="wakil-blog-layout section-p-100">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2>Leggi i nostri articoli illuminanti</h2>
                <img
                  class="mt-10 mb-60 img-100 shape-image"
                  src="assets/images/home/Shape.png"
                  alt="Shape"
                />
              </div>
              <div class="col-12 text-center mt-60 home1-blog-btn">
                <div class="in-top button-whole-wrap">
                  <a href="blog-7.html" class="button-wrap">
                    <span>
                      Visualizza tutti i post del blog
                      <i class="ri-arrow-right-line"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Blog Section End -->
      </div>
      <!-- Content End -->
      <!-- Footer top Start  -->
      <section class="footer-top section-p-100 text-center" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="newsletter-footer">
                <h2 class="mb-60">
                  Ogni persona che varca la nostra porta è importante per noi.
                </h2>
                <div class="in-top button-whole-wrap form-button">
                  <a href="#" class="button-wrap">
                    <span>
                      Consulenza gratuita <i class="ri-arrow-right-line"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer top End  -->
      <!-- Footer Start -->
      <footer class="footer-block-home-1">
        <div class="container">
          <div class="row align-items-center mb-40">
            <div class="col-12 col-md-3">
              <img src="assets/images/brand/logo.svg" alt="Brand logo" />
            </div>
            <div class="col-12 col-md-9 d-flex newsletter-flex">
              <div class="subscribe-cap text-cen">Iniziare a Informare</div>
              <div class="newsletter">
                <form method="post">
                  <div class="outer">
                    <input
                      type="text"
                      name="email"
                      placeholder="Ricevi notizie e aggiornamenti"
                    />
                    <div class="inner">
                      <button type="submit">
                        <img
                          src="assets/images/footer/send-plane-fill.png"
                          alt="newsletter image"
                        />
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <p class="mb-40">
                Arcu purus sit velit mattis morbi mi aliquam enim. Fames egestas
                posuere ultrices vitae. Eget aliquam morbi lectus vitae. Arcu
                sed ipsum placerat tristique. Egestas suspendisse.
              </p>
              <div class="wrapper">
                <ul class="social">
                  <li>
                    <a
                      href="https://twitter.com/"
                      class="social-item"
                      target="_blank"
                    >
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.facebook.com/"
                      class="social-item"
                      target="_blank"
                    >
                      <i class="ri-facebook-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://in.linkedin.com/"
                      class="social-item"
                      target="_blank"
                    >
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/"
                      class="social-item"
                      target="_blank"
                    >
                      <i class="ri-instagram-line"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="subscribe-cap footer-list">Collegamenti rapidi</div>
              <ul class="footer-menu-list">
                <li>
                  <a href="#" data-hover="About">
                    <span>About</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-hover="Our Lawyer Team">
                    <span>Our Lawyer Team</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-hover="Our Services">
                    <span>Our Services</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-hover="Recent Cases">
                    <span>Recent Cases</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-hover="Latest News">
                    <span>Latest News</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-hover="Contact Us">
                    <span>Contact Us</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 footer-menu-last-list">
              <div class="subscribe-cap footer-list">Contatti</div>
              <p class="mb-20">Italy</p>
              <p class="mb-20">
                <a href="tel:+012345678899">+01 234 567 8899</a>
              </p>
              <a href="mailto:contact@wakil.com">contact@email.com</a>
            </div>
          </div>
          <div class="row footer-bottom-bar">
            <div class="col-12">
              <hr />
            </div>
          </div>
          <div class="row footer-bottom-copyright">
            <div class="col-12 col-md-6">
              Copyright © 2023
              <a href="'" data-hover="Bit Cryptics" target="_blank"
                ><span>Bit Cryptics</span></a
              >
              - All Rights Reserved.
            </div>
            <div class="col-12 col-md-6 text-right">
              <a href="#" data-hover="Terms of Use">
                <span>Terms of Use</span>
              </a>
              |
              <a href="#" data-hover="Privacy Policy">
                <span>Privacy Policy</span>
              </a>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
      <!-- Page cursor Start -->
      <div class="cursor cursor-shadow"></div>
      <div class="cursor cursor-dot"></div>
      <!-- Page cursor End -->
      <!-- Back-to-top Start -->
      <a href="#content" class="back-to-top">
        <span class="back-to-top-text"><i class="ri-arrow-up-s-line"></i></span>
      </a>
      <!-- Back-to-top End -->
    </main>
    <!-- Main Body End -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.placeholder.label.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/cursor.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/slider-custom.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/slider1.js"></script>
    <script src="assets/js/back-to-top.js"></script>
    <script src="assets/js/counter.js"></script>
  </body>
</html>
